:root {
  --default-font: 'Roboto', sans-serif;
  --primary: #2c6aff;
  --secondary: #5700ff;
  --accent: #00d9ff;
  --dark: #30303b;
  --gradient-primary: linear-gradient(135deg, var(--secondary) 0%, var(--primary) 50%, var(--accent) 100%);
  --gradient-light: linear-gradient(135deg, rgba(231,220,255,1) 0%, rgba(238,243,255,1) 50%, rgba(219,249,255,1) 100%);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--default-font);
  font-size: 1.6rem;
  color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { box-sizing: border-box; }

input, button {
  font-family: var(--default-font);
  outline: none;
}
