:root {
  --default-font: 'Roboto', sans-serif;
  --primary: #2c6aff;
  --secondary: #5700ff;
  --accent: #00d9ff;
  --dark: #30303b;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--default-font);
  color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { box-sizing: border-box; }
